<div class="mt-3">
  <p-panel header="Numbers Pipes" class="pt-2">
    <p>
      Angular built-in <strong>pipes</strong>, usually in
      <strong>'common'</strong> module
    </p>
  </p-panel>
</div>

<div class="grid mt-2">
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Number">
      <p><strong>Original: </strong>{{ totalSells }}</p>
      <p><strong>Result: </strong>{{ totalSells | number }}</p>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Number : 1.2-2">
      <p><strong>Original: </strong>{{ totalSells }}</p>
      <p><strong>Result: </strong>{{ totalSells | number : "1.2-2" }}</p>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Number : 1.6-6">
      <p><strong>Original: </strong>{{ totalSells }}</p>
      <p><strong>Result: </strong>{{ totalSells | number : "1.6-6" }}</p>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Currency">
      <p><strong>Original: </strong>{{ totalSells }}</p>
      <p><strong>Result: </strong>{{ totalSells | currency }}</p>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Currency : COP">
      <p><strong>Original: </strong>{{ totalSells }}</p>
      <p><strong>Result: </strong>{{ totalSells | currency : "COP" }}</p>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Currency : COP : simbol-narrow">
      <p><strong>Original: </strong>{{ totalSells }}</p>
      <p>
        <strong>Result: </strong
        >{{ totalSells | currency : "COP" : "symbol-narrow" }}
      </p>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Currency : COP : simbol-narrow : 1.4-4">
      <p><strong>Original: </strong>{{ totalSells }}</p>
      <p>
        <strong>Result: </strong
        >{{ totalSells | currency : "COP" : "symbol-narrow" : "1.4-4" }}
      </p>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Percent">
      <p><strong>Original: </strong>{{ percentage }}</p>
      <p><strong>Result: </strong>{{ percentage | percent }}</p>
    </p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Percent : 1.2-2">
      <p><strong>Original: </strong>{{ percentage }}</p>
      <p><strong>Result: </strong>{{ percentage | percent : "1.2-2" }}</p>
    </p-card>
  </div>
</div>
